.menu{
    background-color: black;
    color: white;
}
.translucent {
    opacity: 0.1;
}
#container {
    position: relative;
    width: 200px;
    height: 200px;
}
#background, #content {
    position: absolute;
    top: 0;
    left: 0;
}
#background {
    background-image: url('images/fit-zal.jpg');
}