.button-1 {
    text-decoration: none;
    display: inline-block;
    position: relative;
    padding: 15px 30px;
    color: #ffffff;
    border: 3px solid #d94927;
    font-size: 24px;
    font-weight: 700;
    white-space: nowrap;
    transition: .3s linear;
    border-radius: 5px;
}
.button-1:before, .button-1:after, .link-content:before, .link-content:after {
    content: "";
    position: absolute;
    z-index: 1;
    width: 15px;
    height: 15px;
    transition: .3s linear;
}
.button-1:before {
    left: -1px;
    top: -1px;
    border-left: 1px solid #d94927;
    border-top: 1px solid #d94927;
}
.button-1:after {
    bottom: -1px;
    right: -1px;
    border-bottom: 1px solid #d94927;
    border-right: 1px solid #d94927;
}
.link-content:after {
    right: -1px;
    top: -1px;
    border-right: 1px solid #d94927;
    border-top: 1px solid #d94927;
}
.link-content:before {
    left: -1px;
    bottom: -1px;
    border-bottom: 1px solid #d94927;
    border-left: 1px solid #d94927;
}
.button-1:hover {
    color: #d94927;
    border-color: #d94927;
}
.menu{
    display: flex;
    justify-content: space-between;
    }
body {
    background-image: url('images/ganteli.jpg');
    opacity: 0,1;
}
.sliding-button {
  text-decoration: none;
  color: white;
  font-size: 34px;
  text-shadow: #ff3000 1px 1px 10px;
  display: inline-block;
  position: relative;
  padding: 30px 60px;
  border: 1px solid;
  text-align: center;
  width: 20%;
  font-weight: 700;
  border-image: linear-gradient(180deg, #ff3000, #ff3000, #ed0200, #ed0200);
  border-image-slice: 1;
  margin: 10px 20px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  overflow: hidden;
  letter-spacing: 2px;
  transition: .8s cubic-bezier(.165, .84, .44, 1);
}
.sliding-button:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 0;
  width: 100%;
  z-index: -1;
  color: white;
  background: linear-gradient(180deg, #ff3000, #ff3000, #ed0200, #ed0200);
  transition: .8s cubic-bezier(.165, .84, .44, 1);
}
.sliding-button:hover {
  background: rgba(255, 255, 255, 0);
}
.sliding-button:hover:before {
  bottom: 0%;
  top: auto;
  height: 100%;
}
li {
    list-style-type: none; /* Убираем маркеры */
   }
p{
  color: white;
  font-size: 34px;
  text-shadow: #ff3000 1px 1px 10px;
  font-weight: 700;
}

.block1 {
    position: relative;
    left: 0%;
    float: left;
    width: 57%;
    padding: 10px;
    z-index: 999999;
}
.block4 {
    float: left;
    width: 35%;
    padding: 10px;
}
.block2 {
  position: relative;
  top: 16%;
  left: 0%;
}
.turn-left{
  position: relative;
  left: 12%;
}
.block3 {
    float: right;
    width: 42.5%;

}
.right-side{
    text-shadow: #00008B 1px 1px 5px;
    color: #ADD8E6;
}
.times{
    text-decoration: none;
  color: white;
  font-size: 34px;
  text-shadow: #ff3000 1px 1px 10px;
  display: inline-block;
  position: relative;
  padding: 30px 60px;
  border: 1px solid;
  text-align: center;
  width: 20%;
  font-weight: 700;
  border-image: linear-gradient(180deg, #ff3000, #ff3000, #ed0200, #ed0200);
  border-image-slice: 1;
  margin: 10px 20px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  overflow: hidden;
  letter-spacing: 2px;
  transition: .8s cubic-bezier(.165, .84, .44, 1);
}
.back-button {
  text-decoration: none;
  display: inline-block;
  width: 153.5px;
  height: 45px;
  line-height: 45px;
  border-radius: 45px;
  margin: 10px 20px;
  font-family: 'Montserrat', sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 3px;
  font-weight: 600;
  color: #524f4e;
  background: #d94927;
  box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
  transition: .3s;
  position: fixed;
  top: 86%;
  left: 88%;
}
.back-button:hover {
  background: #ADD8E6;
  box-shadow: 0 15px 20px rgba(46, 229, 157, .4);
  color: white;
  transform: translateY(-7px);
}
.info{
  text-decoration: none;
  display: inline-block;
  width: 153.5px;
  height: 45px;
  line-height: 45px;
  border-radius: 45px;
  margin: 10px 20px;
  font-family: 'Montserrat', sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 3px;
  font-weight: 600;
  color: #524f4e;
  background: #d94927;
  box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
  transition: .3s;
  position: relative;
  left: 8.5%;

}
.info:hover{
  background: #ADD8E6;
  box-shadow: 0 15px 20px rgba(46, 229, 157, .4);
  color: white;
  transform: translateY(-7px);
}
.new {
   background: -moz-linear-gradient(#D0ECF4, #5BC9E1, #D0ECF4);
   background: -webkit-gradient(linear, 0 0, 0  100%, from(#D0ECF4), to(#D0ECF4), color-stop(0.5, #5BC9E1));
   padding: 3px 3px;
   color: #333;
   -moz-border-radius: 5px;
   -webkit-border-radius: 5px;
   border-radius: 5px;
   border: 1px solid #666;
   width: 40px;
   position: relative;
   left: 8.5%;
   width: 40px;
   color: #524f4e;
   background: #d94927;
   box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
  }