<html>
    <head>
        {% if title %}
        <title>{{ title }}</title>
        {% else %}
        <title>Gym</title>
        {% endif %}
        <link rel="stylesheet" href='/static/style.css' />
<!--                <link rel="stylesheet" href='/static/style.css' />-->

    </head>
    <body>
        <div class="menu">
            {% if not current_user.isCoach %}
                <a href="{{ url_for('about_us') }}" class="button-1"><span class="link-content">About us</span></a>
            {% endif %}
            {% if not subIs %}
                {% if current_user.isCoach %}
                    <a href="{{ url_for('coach_room') }}" class="button-1"><span class="link-content">Coach room</span></a>
                {% else %}
                    <a href="{{ url_for('coach_identifier') }}" class="button-1"><span class="link-content">Are you coach?</span></a>
                {% endif %}
                {% if not current_user.isCoach %}
                  <a href="{{ url_for('catalog') }}" class="button-1"><span class="link-content">Catalog</span></a>
                {% endif %}
            {% endif %}
            <a href="{{ url_for('home') }}" class="button-1"><span class="link-content">Home</span></a>
              {% if current_user.is_anonymous %}
                  <a href="{{ url_for('login') }}" class="button-1"><span class="link-content">Login</span></a>
              {% else %}
                  <a href="{{ url_for('user', username=current_user.username) }}" class="button-1"><span class="link-content">Profile</span></a>
                  <a href="{{ url_for('logout') }}" class="button-1"><span class="link-content">Logout</span></a>
              {% endif %}
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% endif %}
        {% endwith %}
        <div class="subs">
        {% block content %}{% endblock %}
        </div>
        {% if current_user.is_anonymous %}
        <p>New User? <a href="{{ url_for('register') }}"class="button-1"><span class="link-content">Click to Register!</span></a></p>
        {% endif %}
    </body>
</html>