{% extends "base.html" %}
{% block content %}
    <p>You chose subscription: {{sub.name}}</p>
    <p>Training time: {{time.partOfDay}}</p>
    <p>Choose a vacant coach:</p>
    {% for i in data %}
            {% if i.isCoach %}
                <li><a href="{{ url_for('payment', time_id=time_id,coach_id=i.id, sub_id=sub_id) }}" class="sliding-button">{{ i.username }}</a></li>
            {% endif %}
    {% endfor %}
    <a href="{{ url_for('choose_time', sub_id=sub_id) }}" class="back-button">Back</a>
{% endblock %}
